* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-size: 30px;
}

$width-cell: 100px;
$padding: 10px;
$gap: 1px;
$max-width: calc(#{$width-cell} * 7 + #{$padding} * 2 + #{$gap} * 6);
$week-days: (
  'sun': 0,
  'mon': 1,
  'tue': 2,
  'wed': 3,
  'thu': 4,
  'fri': 5,
  'sat': 6,
);

.calendar {
  display: flex;
  flex-wrap: wrap;
  gap: $gap;
  padding: $padding;
  max-width: $max-width;

  @each $week-day, $value in $week-days {
    &--start-day-#{$week-day} {
      .calendar__day:nth-child(1) {
        margin-left: calc(($max-width - $width-cell - $padding * 2) / $value);
      }
    }
  }

  @for $d from 28 through 31 {
    &--month-length-#{$d} {
      .calendar__day:nth-last-child(1)::before {
        content: '#{$d}';
      }

      .calendar__day:nth-child(n + #{$d}) {
        display: none;
      }

      .calendar__day:nth-child(31) {
        display: flex;
      }
    }
  }

  &__day {
    box-sizing: border-box;
    position: relative;
    width: $width-cell;
    height: 100px;
    background-color: #eee;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.5s;

    @for $i from 1 through 31 {
      &:nth-child(#{$i})::before {
        content: '#{$i}';
        position: absolute;
      }
    }

    &:hover {
      background-color: #ffbfcb;
      cursor: pointer;
      transform: translateY(-20px);
      transition-duration: 0.5s;
    }
  }

  &--start-day-sun {
    .calendar__day:nth-child(1) {
      margin-left: calc($max-width - $width-cell - $padding * 2);
    }
  }
}
